# Git Repository Configuration
GIT_REPO_URL=https://github.com/matoboco/bockovino2026.git
GIT_BRANCH=main

# Pre privátne repozitáre môžeš použiť:
# GIT_REPO_URL=https://username:token@github.com/matoboco/bockovino2026.git
